[isort]
line_length = 79

[flake8]
max-line-length = 200

min-name-length = 1

max-line-complexity = 24

max-string-usages = 16

max-local-variables = 16

max-cognitive-score = 24

max-cognitive-average = 24

# magic methods includes
max-methods = 15

max-expressions = 15

ignore =
    S101, # assert
    D100, # Missing docstring in public module
    D101, # Missing docstring in public class
    D102, # Missing docstring in public method
    D103, # Missing docstring in public function
    D104, # Missing docstring in public package
    D105, # Missing docstring in magic method
    D107, # Missing docstring in __init__
    E800, # commented out code
    N814, # camelcase imported as constant
    WPS115, # upper-case constant in a class
    WPS301, # dotted raw import
    WPS305, # f-strings
    WPS317, # multilines
    WPS323, # '%' strings, too many false-positives (strptime, ...)
    WPS420, # allow 'pass' (but also 'global','local' & 'del')
    WPS421, # allow 'print()' function
    WPS602, # @staticmethod
    S314, S405, # allow xml.etree.ElementTree
