[tool.poetry]
name = "investments"
version = "0.1.25"
description = "Analysis of Interactive Brokers reports for tax reporting in Russia"
license = "MIT"
authors = ["Maxim Andreev <andreevmaxim@gmail.com>"]
readme = "README.md"
repository = "https://github.com/cdump/investments"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Office/Business :: Financial :: Accounting",
    "Topic :: Office/Business :: Financial :: Investment"
]

[tool.poetry.scripts]
ibtax = "investments.ibtax.ibtax:main"
ibdds = "investments.ibdds.ibdds:main"

[tool.poetry.dependencies]
python = "^3.8"
pandas = "^1.3.5"
requests = "^2.27.1"
tabulate = "^0.8.9"
aiomoex = "^2.0.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
mypy = "^0.931"
wemake-python-styleguide = "^0.16.0"
types-requests = "^2.27.3"
types-tabulate = "^0.8.5"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
