[tool.poetry]
name = "investments"
version = "0.1.25"
description = "Analysis of Interactive Brokers reports for tax reporting in Russia"
license = "MIT"
authors = ["Maxim Andreev <andreevmaxim@gmail.com>"]
readme = "README.md"
repository = "https://github.com/cdump/investments"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Office/Business :: Financial :: Accounting",
    "Topic :: Office/Business :: Financial :: Investment"
]

[tool.poetry.scripts]
ibtax = "investments.ibtax.ibtax:main"
ibdds = "investments.ibdds.ibdds:main"

[tool.poetry.dependencies]
python = "^3.6.1 || ^3.7"
pandas = "^1.0.3"
requests = "^2.23.0"
aiomoex = "^1.2.2"
tabulate = "^0.8.7"
WeasyPrint = "^52.4"

[tool.poetry.dev-dependencies]
pytest = "^5.4"
mypy = "^0.782"
wemake-python-styleguide = "^0.14.1"
jedi = "^0.18.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
